html, body {
    height: 100%; /* Necessary for flexbox centering */
}

body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: nav-font;
    src: url(resources/fFinish.ttf);
}

@font-face {
    font-family: settings-font;
    src: url(resources/ChocolatesRegular.otf);
}

.shape {
    width: 200px;
    height: 200px;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    margin: 5px;
}

.gamecontainer {
    grid-column-start: game;
    grid-column-end: guesses;
    grid-row-start: game;
    grid-row-end: score;

    margin: auto; /* Why isn't this centering? */
}

.shape {
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.shape p {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: white;
    transition: color 1s;
}

#shape1 {   
    background-color: blue;
}

#shape2 {
    background-color: red;
}

#shape3 {
    background-color: green;
}

#shape4 {
    background-color: orange;
}

.guesscontainer {
    grid-column-start: guesses;
    grid-column-end: right-space;
    grid-row-start: game;
    grid-row-end: score;
    margin: auto;
}

.color-guess {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
}

.color-block {
    width: 50px;
    height: 50px; 
    display: inline-block;
    margin-right: 10px; 
}

.radio-group label {
    display: inline-block;
    border: 2px solid #ccc;
    text-align: center;
    padding: 8px;
    width: 20px;
    margin: 6px;
    cursor: pointer;
    font-size: 20px;
}

.radio-group input[type="radio"]:checked + label {
    background-color: rgb(78, 149, 255); 
}

.radio-group input[type='radio'] {
    display: none;
    background-color: rgb(54, 134, 255);
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px #999;
    transition: box-shadow 0.3s ease;
}

@font-face {
    font-family: nav-font;
    src: url(resources/fFinish.ttf);
}

@font-face {
    font-family: settings-font;
    src: url(resources/ChocolatesRegular.otf);
}

#navbar {
    height: 40px;
    background-color: white;
    font-family: nav-font;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.navdiv {
    width: 23vw; /* Not quite one quarter to make room for the dark mode icon on the right */
    border-right: 4px solid black;
    float: left;
}

.navdiv a {
    color: black;
}

#icondiv {
    width: 40px;
    height: 40px;
    float: left;
    border-right: none; /* Overwrite the border for the icon */
}

#modeicon {
    padding-left: 15px;
    transition: 0.3s;
}

#content {
    height: calc(100% - 120px); /* Subtracting height of navbar and footer */
    width: 100%;
    display: inline-grid;
    grid-template-columns: [left-icon] 80px [left-space] auto [game] 440px [guesses] 440px [right-space] auto [right-icon] 80px;
    grid-template-rows: [icons] 80px [startbutton] 40px [game] 500px [score] 40px [empty] 80px;
    /* align-items: center; */
    justify-content: space-between;
    background-color: lightgray;
}

#cogicon {
    grid-column-start: left-icon;
    grid-column-end: left-space;
    grid-row-start: icons;
    grid-row-end: startbutton;
    margin: auto;
    transition: 0.3s;
}

#cogicon:hover {
    transform: rotate(90deg);
}

#startgame {
    grid-column-start: game;
    grid-column-end: guesses;
    grid-row-start: startbutton;
    grid-row-end: game;

    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    font-family: 'Poppins', sans-serif;;
    height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    transition: box-shadow .15s, transform .15s;
    white-space: nowrap;
    font-size: 18px;
    margin: auto;
}

#startgame:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#startgame:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#startgame:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#startgame:disabled {
    background-image: radial-gradient(100% 100% at 100% 0, #616364 0, #000000 100%);
}

#instructionsicon {
    grid-column-start: right-icon;
    grid-row-start: icons;
    grid-row-end: startbutton;
    margin: auto;
    transition: 0.3s;
}

#instructionsicon:hover {
    transform: scale(120%);
}

.popupmenu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(140px); /* The menu is made up of rows of settings entries */
    box-sizing: border-box; /* Padding won't increase size of div */
    padding: 20px;
    visibility: hidden;
    background-color: rgb(190, 190, 190);
    opacity: 90%;
    border-radius: 10px;
    font-family: settings-font;
    z-index: 1;
}

.menurow {
    display: grid;
    grid-template-columns: auto 100px; /* Each row is made up of two individual columns, one for the text and one for the checkbox */
}

.popupmenu h1 {
    text-align: center;
    margin-bottom: 0px;
}

.menuentry h2 {
    padding-left: 20px;
    margin-bottom: 0px; /* Bring the subheadings closer */
}

.menuentry h3 {
    padding-left: 50px;
    word-wrap: break-word;
}

.menuinput {
    margin-top: 20px;
}

#menurow1 {
    background-color: rgb(163, 163, 163);
}

#menurow2 {
    background-color: rgb(190, 190, 190);
}

#menurow3 {
    background-color: rgb(163, 163, 163);
}

#result {
    grid-column-start: game;
    grid-column-end: guesses;
    grid-row-start: score;
    grid-row-end: empty;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 150px;
    color: rgb(126, 178, 255);
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#checkGuess {
    grid-column-start: guesses;
    grid-column-end: right-space;
    grid-row-start: score;
    grid-row-end: empty;

    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    font-family: 'Poppins', sans-serif;;
    height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    transition: box-shadow .15s, transform .15s;
    white-space: nowrap;
    font-size: 18px;
    margin: auto;
}

#checkGuess:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#checkGuess:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#checkGuess:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#info {
    grid-column-start: guesses;
    grid-column-end: right-space;
    grid-row-start: startbutton;
    grid-row-end: game;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #3c4fe0;
    margin: auto;
}

footer * {
    margin: 0px;
    padding: 0px;
    height: 40px;
    background-color: white;
}

footer p {
    padding-top: 20px;
    padding-left: 10px;
    font-family: settings-font;
}