html, body {
    height: 100%; /* Necessary for flexbox centering, get rid of this? */
}

body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: nav-font;
    src: url(resources/fFinish.ttf);
}

@font-face {
    font-family: settings-font;
    src: url(resources/ChocolatesRegular.otf);
}

#navbar {
    height: 40px;
    background-color: white;
    font-family: nav-font;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.navdiv {
    width: 23vw; /* Not quite one quarter to make room for the dark mode icon on the right */
    border-right: 4px solid black;
    float: left;
}

.navdiv a {
    color: black;
}

#icondiv {
    width: 40px;
    height: 40px;
    float: left;
    border-right: none; /* Overwrite the border for the icon */
}

#modeicon {
    padding-left: 15px;
    transition: 0.3s;
}

#content {
    height: calc(100% - 120px); /* Subtracting height of navbar and footer */
    width: 100%;
    display: inline-grid;
    grid-template-columns: [left-icon] 80px [left-space] auto [game] 360px [right-space] auto [right-icon] 80px;
    grid-template-rows: [icons] 80px [startbutton] 80px [game] auto [score] 160px;
    align-items: center;
    background-color: lightgray;
}

#cogicon {
    grid-column-start: left-icon;
    grid-column-end: left-space;
    grid-row-start: icons;
    grid-row-end: startbutton;
    margin: auto;
    transition: 0.3s;
}

#cogicon:hover {
    transform: rotate(90deg);
}

button {
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: brown;
    color: white;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
}

#playButton {
    grid-column-start: game;
    grid-column-end: right-space;
    grid-row-start: startbutton;
    grid-row-end: game;
    width: 120px;
    margin: auto;
}

#instructionsicon {
    grid-column-start: right-icon;
    grid-row-start: icons;
    grid-row-end: startbutton;
    margin: auto;
    transition: 0.3s;
}

#instructionsicon:hover {
    transform: scale(120%);
}

.popupmenu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(140px); /* The menu is made up of rows of settings entries */
    box-sizing: border-box; /* Padding won't increase size of div */
    padding: 20px;
    visibility: hidden;
    background-color: rgb(190, 190, 190);
    opacity: 90%;
    border-radius: 10px;
    font-family: settings-font;
    z-index: 1;
}

.menurow {
    display: grid;
    grid-template-columns: auto 100px; /* Each row is made up of two individual columns, one for the text and one for the checkbox */
}

.popupmenu h1 {
    text-align: center;
    margin-bottom: 0px;
}

.menuentry h2 {
    padding-left: 20px;
    margin-bottom: 0px; /* Bring the subheadings closer */
}

.menuentry h3 {
    padding-left: 50px;
    word-wrap: break-word;
}

.menuinput {
    margin-top: 20px;
}

#menurow1 {
    background-color: rgb(163, 163, 163);
}

#menurow2 {
    background-color: rgb(190, 190, 190);
}

#menurow3 {
    background-color: rgb(163, 163, 163);
}

#closemenu {
    padding: 15px 20px;
    margin: auto;
    display: block;
    background-color: #db3734; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#closemenu:hover {
    background-color: rgb(114, 10, 0); /* Hover background color */
    color: #fff; /* Hover text color */
}

#game {
    grid-column-start: game;
    grid-column-end: right-space;
    grid-row-start: game;
    grid-row-end: score;
    width: 360px;
    height: 360px;
    margin: auto; /* Center just the game */
    border: 2px dashed black;
}

.row {
    display: flex;
    width: 100%;
    height: 180px;
    margin: 0px;
}

.gameShape {
    width: 100%;
    border: thin solid lightgray;
    transition: 0.3s;
    opacity: 0.5;
}

.scoreArea {
    grid-column-start: game;
    grid-column-end: right-space;
    grid-row-start: score;
    border: thin solid black;
}

.scoreArea p {
    font-size: 24px;
    text-align: center;
    font-family: settings-font;
    margin: 15px;
}

footer * {
    margin: 0px;
    padding: 0px;
    height: 40px;
    background-color: white;
}

footer p {
    padding-top: 20px;
    padding-left: 10px;
    font-family: settings-font;
    
}